html {
    font-family: GraphikCompact_Regular,Helvetica,Arial,Roboto,sans-serif
}


/*-------------main---------------*/
main {
    margin: 10px 450px 10px 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

img{
    max-width: 100%;
}
.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}